<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
     <style>
  * {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}

.wrap {
	width: 1170px;
	margin: auto;
}
header {
	background-color: rgba(0, 0, 0, 0.432);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-size: 16px;
}

</style>   
<title>Services</title>

</head>
<body>
    <header>
    <div class="wrap">
        <div class="titre">
            <h1>Service_Page</h1>
        </div>
<ul class="nav-area">
<li><a href="/">Home</a></li>
<li><a href="/services">Our Services</a></li>
<li><a href="/contact">Contact US</a></li>
</ul>
</div>
<div class="container" style="margin-top: 300px;position:absolute;
margin-left: 50px;"> <h1 style="color:#00fecb;"> Working Hours:</h1>
    <p style="color: white;font-size: large;">  Monday to Friday,  from 9am to 5pm  </p>
    </div>
</header>

</body>
</html>
